* {
    box-sizing: border-box;
    color: #575757;
    font-family: 'Open Sans', sans-serif !important;
}


body {
    background-color: #ddf0ff;
    
}

#container {
    width: 10000px;
}

.boxContainer, .colorContainer, .buttonContainer {
    box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
}


.boxContainer, .colorContainer {
    background-color: white;
    
}

.boxContainer {
    padding: 10px;
    margin: 8px;
    float: left;
}

.box {
    width: 36px;
    height: 36px;
    
}

.table-container {
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.table-row {
    height: 36px;
    
}

.table-cell {
    display: inline-block;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.buttonContainer {
    position: fixed;
    background-color: #54b8ff; 
    padding: 16px;
    width: 100%;
    bottom: 0;
}

button {
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: transparent;
    
}

button::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: none;
}

.buttonContainer button {
    border-bottom: 1px solid #54b8ff;
    width: 30px;
    height: 30px;
    float: right;    
    margin: 8px;
    padding: 0;
}

.button-no-icon {
    background-color: white;
}

button img {
    width: 100%;
    height: 100%;
}

.buttonContainer button:hover {
    border-bottom: 1px solid white !important;
}

.buttonContainer .helper-span {
    position: absolute;
    right: 17px;
    top: -38px;
    background-color: white;
    padding: 7px 31px;
    border: 1px solid #cecece;
    color: #464646;
    border-radius: 2px;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.buttonContainer button:hover ~ span.helper-span {
    opacity: 1 !important;
}

.colorContainer {
    width: 100%;
    margin: 0;
    position: fixed;
    height: 100%;
    z-index: 5;
    display: none;
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: scroll;
}

.colorContainer .xOut {
    color: #ff9574;
    position: absolute;
    top: 0.2em;
    right: 0.7em;
    font-size: 26px;
    z-index: 2;
}

.sub-color-container {
    width: 85%;
    margin: auto;
}

button.outerBox {
    width: 20%;
    display: inline-block;
    padding: 20px 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

button.outerBox:hover {
    background-color: #fbfbfb;
}

.innerBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

.outerBox:first-of-type .innerBox {
    border: 1px solid #eaeaea;
}

/*
.mobile-button {
    position: fixed; 
    width: 50px;
    top: 26px;
    right: 46px;
}

.mobile-button img {
    width: 100%;
}
*/

.modal-container {
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 40px 40px 20px;
    border: 1px solid #cecece;
    text-align: center;
    -webkit-animation-name: modalEnter;
            animation-name: modalEnter;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    min-width: initial;
    width: 85%;
    z-index: 10;
}

.modal-container p {
    margin-bottom: 30px;
    line-height: 1.5;
}

.modal-container button {
    width: 100%;
    margin: 3px 6px;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.modal-container .cancel-button {
    background-color: #E0635A;
}

.modal-container .confirm-button {
    background-color: #61C161;
}

@-webkit-keyframes modalEnter {
    from {top: 27%; opacity: 0;}
    to {top: 30%; opacity: 1;}
}

@keyframes modalEnter {
    from {top: 27%; opacity: 0;}
    to {top: 30%; opacity: 1;}
}

#sticky-border {
    position: absolute;
    top: 0;
    width: 100%;
    
}

@media screen and (min-width: 768px) {
    
    .box {
        width: 28px;
        height: 28px;
    
    }
    
    .table-row {
        height: 28px;
    
    }
    
    .colorContainer {
        display: block;
    }
    
    .boxContainer {
        margin: 30px 25px 100px 395px;
    }
    
    .colorContainer {
        max-width: 280px;
        margin: 30px 50px;
        height: initial;
        display: block !important;
        position: fixed;
        padding: 10px !important;
        
    }
    
    
    
    .sub-color-container {
        position: initial;
        width: 256px;
        height: auto;
        -webkit-transform: none;
                transform: none;
        border-top: 1px solid;
        border-left: 1px solid;
    }
    
    button.outerBox {
        padding: 5px;
        width: auto;
        border-bottom: 1px solid;
        border-right: 1px solid;
        

    }
    
    .buttonContainer {
        padding: 10px;
    }
    
    .buttonContainer button {
        margin: 4px;
    }
    
    .sub-color-container, button.outerBox {
        border-color: #f3f3f3;
    }
    
    .modal-container {
        width: auto;
        min-width: 476px;
    }
    
    .modal-container button {
        margin: 19px 6px;
        width: 185px;
    }
    
    .mobile-button {
        display: none;
    }
    
    .colorContainer .xOut {
    display: none;
    }
}