/******General*************************************************************************/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #575757;
    font-family: 'Open Sans', sans-serif !important;
}

html, body {
    height:100%;
    overflow:auto
} /*fixes fixed position problem on screen rotate for mobile devices*/


body {
    background-color: #ddf0ff; 
}

#boxContainer, .colorContainer, .buttonContainer, .add-remove {
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
}

#boxContainer, .colorContainer {
    background-color: white;
    
}

.desktop-button {
    display: none;
}

.center {
    position: fixed;
    left: 50%;
    top: 20%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.abs-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}



/******Grid*************************************************************************/


#boxContainer {
    padding: 10px;
    margin: 12px 8px 88px;
    white-space: nowrap;
    float: left;
}

.box {
    width: 36px;
    height: 36px;
    
}

.table-container {
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.table-row {
    height: 36px;
    
}

.table-cell {
    display: inline-block;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

/******Buttons*************************************************************************/


.buttonContainer {
    position: fixed;
    background-color: #54b8ff; 
    padding: 6px;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    -webkit-transform: translateZ(0); 
}

button {
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: transparent;
    
}

button::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: none;
}

.buttonContainer button {
    border-bottom: 1px solid #54b8ff;
    width: 35px;
    height: 35px;
    float: right;    
    margin: 8px;
    padding: 0;
}

.button-no-icon {
    background-color: white;
}

button img {
    width: 100%;
    height: 100%;
}

.buttonContainer button:hover {
    border-bottom: 1px solid white !important;
}

.buttonContainer .helper-span {
    position: absolute;
    right: 17px;
    top: -38px;
    background-color: white;
    padding: 7px 31px;
    border: 1px solid #cecece;
    color: #464646;
    border-radius: 2px;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.buttonContainer button:hover ~ span.helper-span {
    opacity: 1 !important;
}

/******Color Grid*************************************************************************/

.colorContainer {
    width: 100%;
    margin: 0;
    position: fixed;
    height: 100%;
    z-index: 5;
    display: none;
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: scroll;
}

.xOut {
    color: #ff9574;
    position: absolute;
    top: 0.2em;
    right: 0.7em;
    font-size: 26px;
    z-index: 2;
}

.sub-color-container {
    width: 85%;
    margin: auto;
}

button.outerBox {
    width: 20%;
    display: inline-block;
    padding: 20px 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
    
}

button.outerBox:hover {
    background-color: #fbfbfb;
}

.innerBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

.outerBox:first-of-type .innerBox {
    border: 1px solid #eaeaea;
}

/******Modal*************************************************************************/

.modal-container {
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 40px 40px 20px;
    border: 1px solid #cecece;
    text-align: center;
    -webkit-animation-name: modalEnter;
            animation-name: modalEnter;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    min-width: initial;
    width: 85%;
    z-index: 10;
}

.modal-container p {
    margin-bottom: 30px;
    line-height: 1.5;
}

.modal-container button, .add-remove .confirm-button {
    width: 100%;
    margin: 3px 6px;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.cancel-button {
    background-color: #E0635A;
}

.confirm-button {
    background-color: #61C161;
}

@-webkit-keyframes modalEnter {
    from {top: 27%; opacity: 0;}
    to {top: 30%; opacity: 1;}
}

@keyframes modalEnter {
    from {top: 27%; opacity: 0;}
    to {top: 30%; opacity: 1;}
}

#sticky-border {
    position: absolute;
    top: 0;
    width: 100%;
    
}

/******Resize*************************************************************************/


.resize-icon-container {
    z-index: 10;
    position: fixed;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 105px;
    height: 105px;
    border: 1px solid;
    top: 30%;
    left: 50%;
}

.resize-icon {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #51d451;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-animation-name: checkBoxEnter;
            animation-name: checkBoxEnter;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    border: 1px solid transparent;

/*    opacity: 0;*/
}

.resize-icon img {
    width: 100%;
}

.resize-icon-container span {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    display: none;
/*
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
*/
}

@-webkit-keyframes checkBoxEnter {
    0% {top: 0; opacity: 0; border: 85px solid #51d451;}
    50% {top: 0; opacity: .5; border: 20px solid #51d451;}
    75% {top: 0; opacity: 1; border: 5px solid #51d451;}
    100% {top: 0; opacity: 0; border: 1px solid #51d451;}

}

@keyframes checkBoxEnter {
    0% {top: 0; opacity: 0; border: 85px solid #51d451;}
    50% {top: 0; opacity: .5; border: 20px solid #51d451;}
    75% {top: 0; opacity: 1; border: 5px solid #51d451;}
    100% {top: 0; opacity: 0; border: 1px solid #51d451;}

}

/******Help Window*************************************************************************/


.help-window {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    overflow: scroll;
}

.help-icon-container {
    display: inline-block;
    width: 50%;
    padding: 40px 20px;
    text-align: center;
}

.help-icon-container img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 8px auto;
}

.help-icon-container span {
    font-size: 0.8em;
    
}

/******Add Remove Window*************************************************************************/

.add-remove {
   display: none;
    background-color: white;
    width: 80%;
    padding: 20px 20px 8px;
    z-index: 7;
}

.add-remove-container {
    display: inline-block;
    padding: 24px;
    text-align: center;
    width: 50%;
    height: 134px;
    overflow: auto;
}

.add-remove button {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto !important;
}

.add-remove button img {
    width: 100%;
}

.add-remove span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.add-remove-row {
    display: inline-block;
    width: 50%;
}

/******Buttons*************************************************************************/

#faq-container {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 6;
    display: none;
    
}

#faq-container .xOut {
/*    position: fixed;*/
}

#faq-sub-container {
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
}

#faq-sub-container * {
    line-height: normal;
}

#faq-sub-container h1, #faq-sub-container h2, #faq-sub-container h3 {
  color: #292929;
    font-weight: bold;
}

#faq-sub-container h1 {
    font-size: 2em;
    margin: 0.67em 0;
    
}

#faq-sub-container h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    
}

#faq-sub-container h3 {
    font-size: 1.17em;
    margin: 1em 0;
    
}

#faq-sub-container a {
  text-decoration: none;
  color: cornflowerblue;
}

#faq-sub-container .button-img {
  width: 1.5em;
  margin: -7px 1px;
  padding: 0;
}

#faq-sub-container p {
    margin: 1em 0;
    line-height: normal;
}

#faq-sub-container p:first-of-type {
    margin-top: -1em;
}

/******Desktop View*************************************************************************/


@media screen and (min-width: 768px) {
    
    .box {
        width: 28px;
        height: 28px;
    
    }
    
    .table-row {
        height: 28px;
    
    }
    
    .colorContainer {
        display: block;
    }
    
    #boxContainer {
        margin: 30px 25px 100px 395px !important;
    }
    
    .colorContainer {
        max-width: 280px;
        margin: 30px 50px;
        height: initial;
        display: block !important;
        position: fixed;
        padding: 10px !important;
        overflow: auto;
        
    }
    
    
    
    .sub-color-container {
        position: initial;
        width: 256px;
        height: auto;
        -webkit-transform: none;
                -ms-transform: none;
            transform: none;
        border-top: 1px solid;
        border-left: 1px solid;
    }
    
    button.outerBox {
        padding: 5px;
        width: auto;
        border-bottom: 1px solid;
        border-right: 1px solid;
        margin: 0;
        

    }
    
    .buttonContainer {
        padding: 10px;
    }
    
    .buttonContainer button {
        margin: 4px;
        width: 30px;
        height: 30px;
    }
    
    .desktop-button {
        display: initial;
    }
    
    .sub-color-container, button.outerBox {
        border-color: #f3f3f3;
    }
    
    .modal-container {
        width: auto;
        min-width: 476px;
    }
    
    .modal-container button {
        margin: 19px 6px;
        width: 185px;
    }
    
    .mobile-button {
        display: none;
    }
    
    .colorContainer .xOut {
    display: none;
    }
    
    #faq-sub-container {
        margin-top: 80px;
    }
    
}

/******Extra Small View*************************************************************************/


@media screen and (max-width: 650px) {
    
     
    .add-remove-row {
        display: block;
        width: 100%;
    }
    
}